html, body{
    height: 100%;
    width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
.logo img {
	width: 210px;
}
input{
    outline: none;
}
.toggle_menu {
	float: right;
	color: #003466;
	margin: 22px 0;
	position: absolute;
	right: 45px;
	cursor: pointer;
	width: 30px;
}
.account_sec ul li i {
	margin-right: 9px;
}
.main_table_sec {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.table-responsive {
	padding-right: 1px;
	border: 1px #ededed solid;
	border-top: 0;
}
.scrol_fix_auto {
	padding-bottom: 0px;
	float: left;
	width: 100%;
}
.main_table_sec table tr th {
	color: #61718e;
	font-weight: 500;
	font-size: 14px;
	padding: 25px 15px;
}
.main_table_sec table tr td {
	font-size: 14px;
	font-weight: 300;
	padding: 17px 15px;
	color: #8991a2;
	word-wrap: break-word;
}
.main_table_sec table tr td a {
	font-weight: 400;
	color: #77718e;
}
.dataTables_paginate {
	float: right;
	text-align: right;
	width: 100%;
	padding: 9px 9px;
	margin-top: 20px;
	z-index: 9;
	position: relative;
	bottom: 0;
}
table tbody tr:nth-child(2n+1) {
	background-color: #f0f6fb;
}
.dataTables_paginate .paginate_button.disabled, .dataTables_paginate .paginate_button.disabled:active, .dataTables_paginate .paginate_button.disabled:hover {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #ddd;
	box-shadow: none;
	color: #67757c;
	cursor: default;
	padding: 5px 19px;
	background-color: #fff;
	font-size: 14px;
}
.dataTables_paginate .paginate_button {
	border: 1px solid #ccc;
	border-right: 0;
	color: #000 !important;
	padding: 5px 12px;
	cursor: pointer;
	background-color: #fff;
	font-size: 14px;
}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover {
	background-color: #003466;
	border: 1px solid #003466;
	color: #ffffff !important;
	padding: 5px 15px;
	cursor: pointer;
}
.dataTables_paginate .paginate_button:hover {
	background-color: #f0f6fb;
    text-decoration: none !important;
}
.green {
	color: green !important;
}
.dataTables_paginate .paginate_button {
	border: 1px solid #ccc;
	border-right: 0;
	color: #000 !important;
	padding: 5px 12px;
	cursor: pointer;
	background-color: #fff;
	font-size: 14px;
}
.dataTables_paginate .paginate_button {
	border: 1px solid #ccc;
	border-right: 0;
	color: #000 !important;
	padding: 5px 12px;
	cursor: pointer;
	background-color: #fff;
	font-size: 14px;
}
.dataTables_paginate .paginate_button {
	border: 1px solid #ccc;
	border-right: 0;
	color: #000 !important;
	padding: 5px 12px;
	cursor: pointer;
	background-color: #fff;
	font-size: 14px;
}
.dataTables_paginate .paginate_button {
	border: 1px solid #ccc;
	color: #000 !important;
	padding: 5px 12px;
	cursor: pointer;
	background-color: #fff;
	font-size: 14px;
}
table{
    table-layout: fixed;
}
.nth_table table tr th:nth-child(1) {
	width: 50px !important;
}
.nth_table table tr th:nth-child(2) {
	width: 110px !important;
}
.nth_table table tr th:nth-child(3) {
	width: 140px !important;
}
.nth_table table tr th:nth-child(4) {
	width: 130px !important;
}
.nth_table table tr th:nth-child(5) {
	width: 130px !important;
}
.nth_table table tr th:nth-child(6) {
	width: 130px !important;
}
.nth_table table tr th:nth-child(7) {
	width: 130px !important;
}
.nth_table table tr th:nth-child(8) {
	width: 230px !important;
}
.nth_table table tr th:nth-child(9) {
	width: 140px !important;
}
.nth_table table tr th:nth-child(10) {
	width: 130px !important;
}
.nth_table table tr th:nth-child(11) {
	width: 80px !important;
}
.nth_table table tr th:nth-child(12) {
	width: 140px !important;
}
.yellow_btn {
	background-color: #f6cd53;
	border: 0;
	color: #fff;
	padding: 5px 16px;
	border-radius: 50px;
	margin-right: 9px;
    margin-bottom: 4px;
    transition: 0.8s;
    border: 1px #f6cd53 solid;
}
.yellow_btn:hover {
	background-color: transparent;
	border: 1px #f6cd53 solid;
	color: #f6cd53;
}


.invita_nth .table tr th:nth-child(1) {
	width: 170px !important;
} 
.invita_nth .table tr th:nth-child(2) {
	width: 150px !important;
}
.invita_nth .table tr th:nth-child(3) {
	width: 170px !important;
}
.invita_nth .table tr th:nth-child(4) {
	width: 120px !important;
}
.invita_nth .table tr th:nth-child(5) {
	width: 330px !important;
}

.service_nth .table tr th:nth-child(1) {
	width: 70px !important;
} 
.service_nth .table tr th:nth-child(2) {
	width: 170px !important;
} 
.service_nth .table tr th:nth-child(3) {
	width: 100px !important;
} 
.service_nth .table tr th:nth-child(4) {
	width: 80px !important;
} 
.service_nth .table tr th:nth-child(5) {
	width: 90px !important;
} 
.service_nth .table tr th:nth-child(6) {
	width: 90px !important;
} 
    
.red_btn {
	background-color: #d9534f;
    border: 1px #d9534f solid;
	color: #fff;
	padding: 5px 16px;
	border-radius: 50px;
    margin-bottom: 4px;
    transition: 0.8s;
}
.red_btn:hover {
	background-color: transparent;
	border: 1px #d9534f solid;
	color: #d9534f;
}
table tbody tr:hover {
	/*background-color: #f0f6fb;*/
}
.header {
	background-color: #003466;
	float: left;
	width: 100%;
	padding: 25px 0;
	position: fixed;
	top: 0;
	z-index: 9;
}
.header h1 {
	margin: 0;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 35px;
	width: auto;
	display: inline-block;
}
.item img {
	height: 790px !important;
	object-fit: cover;
}
.homtrust_update {
	float: left;
	width: 100%;
	margin-top: 40px;
}
.why_hometrupeter {
	float: left;
	width: 50%;
	background-color: #003466;
	color: #fff;
	padding: 0px 30px;
	height: 400px;
    display: table;
}
.get_update {
	float: left;
	width: 50%;
	border: 1px #ccc solid;
	height: 400px;
	padding: 0px 30px;
	display: table;
    background-image: url(../images/slider_img1.jpg);
    position: relative;
}
.transparnt_area {
    position: absolute;
    height: 100%;
    width: 100%;
    float: left;
    background-color: #0000004d;
    left: 0;
}
.login_sign {
	float: right;
	width: auto;
	position: absolute;
	right: 190px;
	top:25px;
}
.login_sign li {
	width: auto;
	float: left;
	margin: 0 12px;
}
.login_sign li a {
	color: #092845;
	text-transform: uppercase;
}
.custom_inp {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	position: relative;
}
.effect-16 {
	border: 0;
	padding: 31px 0 12px 0;
	border-bottom: 1px solid #b2b2b2;
	background-color: transparent;
	width: 100%;
	float: left;
	height: auto;
}
.main_form {
	float: none;
	width: 690px;
	background-color: #fff;
	margin: 90px auto 90px;
	display: inline-block;
	border-radius: 7px;
}
.login_btn:hover {
	background: #f3bf25;
}
.main_form img {
	width: 100%;
	height: 90px;
	object-fit: cover;
	border-radius: 7px 7px 0 0;
}
.relativ {
	position: relative;
	width: 100%;
	float: left;
}
.verticale_middle {
	text-align: center;
}
.lofin_fomr {
	float: left;
	width: 100%;
	padding: 50px 50px;
}
.walet_nth .table tr th:nth-child(1) {
	width: 70px !important;
}
.walet_nth .table tr th:nth-child(2) {
	width: 150px !important;
}
.walet_nth .table tr th:nth-child(3) {
	width: 150px !important;
}
.walet_nth .table tr th:nth-child(4) {
	width: 110px !important;
}
.walet_nth .table tr th:nth-child(5) {
	width: 220px !important;
}
.walet_nth .table tr th:nth-child(6) {
	width: 150px !important;
}
.walet_nth .table tr th:nth-child(7) {
	width: 150px !important;
}
.walet_nth .table tr th:nth-child(8) {
	width: 150px !important;
}
.walet_nth .table tr th:nth-child(9) {
	width: 150px !important;
}
.walet_nth .table tr th:nth-child(10) {
	width: 150px !important;
}
.main_table_sec h2 {
	float: left;
	width: 100%;
	background-color: #003466;
	color: #fff;
	font-weight: 400;
	padding: 10px 17px;
	font-size: 18px;
	border-radius: 3px 3px 0 0;
	line-height: 30px;
	margin: 0 0;
}
.relativ h6 {
	position: relative;
	z-index: 9;
	top: 15px;
	width: 100%;
	color: #fff;
	font-size: 25px;
	line-height: normal;
	color: #f6cd53;
}
.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color:#003466; transition: 0.4s;}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-16 ~ label {
	position: absolute;
	left: 0;
	width: 100%;
	top: 9px;
	color: #858585;
	transition: 0.3s;
	letter-spacing: 0.5px;
	text-align: left;
	font-weight: 400;
}
.effect-16:focus ~ label, .has-content.effect-16 ~ label {
	top: 7px;
	font-size: 12px;
	color: #003466;
	transition: 0.3s;
	font-weight: 400;
}
.rempbrt{
    float: left;
    width: auto;
}
  .cart {
	background-color: #fff;
	float: left;
	width: 100%;
}
  .relativ_profile img {
	border-radius: 14px;
	width: 140px;
}
    .card-title {
	font-size: 20px;
	color: #003466;
	margin: 9px 0 0 0;
}
.dashboard {
	width: 100%;
	float: left;
	margin: 50px 0;
}
.account_sec ul {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0;
}
.account_sec ul li {
	position: relative;
	float: left;
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px #eaeaea solid;
}
.account_sec ul li a {
	color: #848789;
	font-size: 15px !important;
	font-weight: 400;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 9px 0 24px 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #7b7b7b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-bottom: 1px solid #b2b2b2;
}
.select__arrow {
  position: absolute;
  top: 21px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
    .profile_sec_side span {
	width: 100%;
	float: left;
	margin: 3px 0;
	color: #9f9f9f;
	font-size: 14px;
}  
   .profile_sec_side .login_btn {
	display: block;
	width: 80%;
	border: none;
	border-radius: 35px;
	padding: 12px;
	box-shadow: 0 0px 0 0px #f6cd53;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
	background: #f6cd53;
	margin: 20px 0;
}
    .dashboard .lofin_fomr {
	float: left;
	width: 100%;
	padding: 30px 30px;
}
    .profile_sec_side {
	padding: 35px 15px;
}
.fotgot {
	float: right;
	width: auto;
	margin-top: 2px;
}
.fotgot a {
	color: #9c9c9c;
	font-weight: 400;
	font-size: 14px;
}
.login_btn.servic_bnt {
	width: auto;
	float: left;
	padding: 10px 60px;
	margin-right: 20px;
	margin-top: 15px;
}
.service_nth .login_btn.servic_bnt {
	padding: 9px 32px;
	margin-right: 20px;
	margin-top: 15px;
}
.login_btn {
	display: block;
	width: 260px;
	border: none;
	border-radius: 35px;
	padding: 15px;
	box-shadow: 0 0px 11px -4px #f6cd53;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
	background: #f6cd53 url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2031.49%2031.49%22%20style%3D%22enable-background%3Anew%200%200%2031.49%2031.49%3B%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2220px%22%20height%3D%2220px%22%3E%0A%3Cpath%20d%3D%22M21.205%2C5.007c-0.429-0.444-1.143-0.444-1.587%2C0c-0.429%2C0.429-0.429%2C1.143%2C0%2C1.571l8.047%2C8.047H1.111%20%20C0.492%2C14.626%2C0%2C15.118%2C0%2C15.737c0%2C0.619%2C0.492%2C1.127%2C1.111%2C1.127h26.554l-8.047%2C8.032c-0.429%2C0.444-0.429%2C1.159%2C0%2C1.587%20%20c0.444%2C0.444%2C1.159%2C0.444%2C1.587%2C0l9.952-9.952c0.444-0.429%2C0.444-1.143%2C0-1.571L21.205%2C5.007z%22%20fill%3D%22%23FFFFFF%22/%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3Cg%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) right 35px center no-repeat;
	margin-top: 30px;
}
.lofin_fomr .control-group {
	margin: 0;
}
.lofin_fomr .checkbox-custom, .lofin_fomr .checkbox-custom-label {
	margin: 0;
	font-weight: 400;
	color: #9c9c9c;
}
.heading_login {
	float: left;
	width: 100%;
	background-color: #003466;
	text-align: center;
	padding: 24px 0;
}
.nav.nav-tabs.service_tab {
	border: 0;
}
.nav.nav-tabs.service_tab li.active a {
	border: 0 !important;
	color: #f6cd53;
}
.nav.nav-tabs.service_tab {
	border: 0;
	width: auto !important;
	margin: 0 auto;
	float: none;
	display: inline-block;
	position: relative;
	top: 25px;
}
.nav.nav-tabs.service_tab li.active a::after {
	content: '';
	border-bottom: 4px #f6cd53 solid;
	height: 2px;
	display: block;
	width: 44px;
	margin: 0 auto 0;
	position: relative;
	top: 9px;
}
.nav.nav-tabs.service_tab li a:hover {
	background-color: transparent;
	border: 0;
	padding: 0;
}
.nav.nav-tabs.service_tab li a{
	background-color: transparent;
	border: 0;
	padding: 0;
}
.nav.nav-tabs.service_tab li a {
	padding: 0;
	width: auto;
	float: left;
	font-size: 19px;
	color: #b9b9b9;
	margin: 0 12px;
	font-weight: 400;
}
.heading_login h1 {
	color: #fff;
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 2px;
}
.login_form {
	float: left;
	width: 100%;
	background-color: #eef2f8;
}
.btn_fix.subscribe_bt {
	float: right;
	position: absolute;
	right: 40px;
	padding: 10px 26px;
	font-size: 16px;
	top: 12px;
}
.sidenav {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	width: 280px;
    z-index: 9;
}
.back_layer .back_lyer_col {
	background-color: #0009;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
    z-index: -1;
}
.sidenav li {
	text-align: left;
	width: 100%;
	float: left;
	margin-bottom: 12px;
}
.sidenav li a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #e9e9e9;
	display: block;
	transition: 0.3s;
	font-size: 18px;
	text-transform: uppercase;
}
.sidenav li a:hover {
	color: #838383;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #838383;
}
.sidenav .closebtn:hover{
    color: #838383;
    text-decoration: none;
}
.vertical_middle {
	display: table-cell;
	vertical-align: middle;
}
.get_update .vertical_middle {
	text-align: center;
	z-index: 9;
	position: relative;
}
.why_hometrupeter h4 {
	font-weight: 600;
	font-size: 28px;
	margin: 0 0 20px 0;
}
.get_update h5 {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	margin: 0 0 30px 0;
}
.why_hometrupeter p {
	font-size: 16px;
	font-weight: 400;
}
.countDown_cont {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: white;
	width: 100%;
	text-align: center;
    font-weight: 400;
}
.get_update h6 {
	font-size: 17px;
	color: #fff;
	font-weight: 400;
}
.mail_id{
    float: left;
    width: 100%;
    position:relative;
}
.mail_id input {
	width: 90%;
	padding: 15px 20px;
	font-size: 14px;
	border: 0;
}
.mail_id .subscribe {
	position: absolute;
	right: 25px;
	padding: 14px 40px;
	top: 0;
	border: 0;
	background-color: #003466;
	color: #fff;
	font-size: 16px;
}
.footer {
	background-color: #003466;
	float: left;
	width: 100%;
	padding: 20px 0;
	color: #fff;
	margin-top: 60px;
}
.countDown_interval_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: auto;
}
.countDown_interval_cont:nth-child(n+1):not(:last-child) {
    margin-right: 1em;
}
.countDown_interval_basic_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.countDown_interval_basic_cont_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2.5em;
    margin-top: 0.3em;
    margin-bottom: 7px;
    font-size: 1.2em;
    color: #2f003e;
}
.countDown_digit_cont {
    -webkit-perspective: 3.2em;
    perspective: 3.2em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
    width: 1em;
    height: 1.6em;
    position: relative;
    line-height: 1.6em;
    font-size: 5em;
    font-weight: bold;
    border-radius: 0.08em;
}
.countDown_digit_cont:nth-child(n+1):not(:last-child) {
    margin-right: 0.05em;
}
.countDown_digit_last_placeholder,
.countDown_digit_new_placeholder {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    overflow: hidden;
}
.countDown_digit_last_placeholder {
    bottom: 0;
    background: #003466;
    border-radius: 0 0 0.08em 0.08em;
}
.countDown_digit_last_placeholder_inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 50%;
    position: absolute;
}
.countDown_digit_new_placeholder {
    top: 0;
    background: #003466;
    border-radius: 0.08em 0.08em 0 0;
}
.countDown_digit_last_rotate,
.countDown_digit_new_rotate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    font-weight: bold;
    position: absolute;
    top: 0;
    overflow: hidden;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    border-radius: 0.08em 0.08em 0 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.countDown_digit_last_rotate:after,
.countDown_digit_new_rotate:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 0.01em solid rgba(0, 0, 0, 0.1);
}
.countDown_digit_last_rotate {
    -webkit-animation-name: countDown_flip_1;
    animation-name: countDown_flip_1;
    background: #003466;
}
.countDown_digit_new_rotate {
    -webkit-animation-name: countDown_flip_2;
    animation-name: countDown_flip_2;
    background: #003466;
}
.countDown__interval_basic_cont {
	float: none;
	margin: 0 auto;
}
.check1 {
	float: left;
	width: 100%;
	padding: 30px 0;
	background-color: #f2f9ff;
}
.countDown_digit_new_rotated {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    width: 100%;
    height: 100%;
}
.countDown_digit_new_rotated_inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 50%;
    position: absolute;
}
@-webkit-keyframes countDown_flip_1 {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 1;
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        z-index: 0;
    }
}
@keyframes countDown_flip_1 {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 1;
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        z-index: 0;
    }
}
@-webkit-keyframes countDown_flip_2 {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 0;
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        z-index: 1;
    }
}
@keyframes countDown_flip_2 {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        z-index: 0;
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        z-index: 1;
    }
}

/*************** 20-6-2018 ******************/

.hdng-cnt {
  float: left;
  margin: 0;
  text-align: center;
  width: 100%;
}


.header.header2 {
	position: inherit;
	border-bottom: 1px solid #003466;
	background: #fff;
	text-align: center;
}
#howit-works {
  float: left;
  width: 100%;
}

li {list-style : none;}
#howit-works ul {
  padding: 0;
}

#five {
	float: left;
	margin-top: 50px;
	width: 100%;
}
#how_it_work {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 90px;
}
.btn_fix.head_bt {
	float: none;
	position: relative;
	right: 0;
	padding: 14px 56px;
	font-size: 16px;
	top: 0;
	margin-top: 40px;
}
.patner_sec {
	float: left;
	width: 100%;
	background-color: #f3f3f3;
	margin: 0;
	padding: 70px 0;
}
.patner_bk_img {
	width: 75px;
	background-color: #fff;
	padding: 0;
	height: 75px;
	object-fit: cover;
	border-radius: 50%;
	text-align: center;
	line-height: 75px;
	box-shadow: -4px 3px 9px #e1e1e1;
	margin: 0 auto;
}
.patner_sec h4 {
	margin: 29px 0 17px 0;
	width: 100%;
	font-size: 21px;
	color: #0c3053;
}
.patner_sec p {
	color: #808080;
	font-size: 15px;
	margin: 0;
}
.patner_bk_img img {
	width: 45px;
}
.boder_x {
	border: 1px #efefef solid;
	width: 100%;
	float: left;
	box-shadow: 0 0px 10px #ececec;
}
#how_it_work img {
	width: 100%;
	height: 170px;
	object-fit: contain;
	border-radius: 0;
	margin: 25px auto 7px;
}
#one {
	float: left;
	width: 100%;
}
.slider h2 {
	text-align: center;
	font-size: 18px;
	background-color: #fcfcfc;
	margin: 0;
	padding: 15px 10px;
	color: #003466;
	border: 1px #e4e4e4 solid;
	border-bottom: 0;
	border-radius: 3px;
	font-weight: 400;
}
.slider_shdow {
	box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.05);
}
#how_it_work h2 {
	font-size: 20px;
	margin: 26px 0;
	padding: 0 15px;
	line-height: 34px;
}

#five .inner-sec::after {
  /*background: rgba(0, 0, 0, 0) url("../images/round-shape.png") repeat scroll 0 0;*/
  content: "";
  height: 96px;
  left: 100%;
  position: absolute;
  top: 14%;
  transform: translate(-50%);
  width: 234px;
  z-index: -1;
}


#five .inner-sec {
  float: left;
  margin-bottom: 150px;
  margin-right: 16px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  width: 31.9%;
}
#five .inner-sec .icon-sec {
  background: #f5f5f5 none repeat scroll 0 0;
  border-radius: 50%;
  height: 200px;
  line-height: 200px;
  margin: 0 auto;
  width: 200px;
}

#five .inner-sec:nth-child(4)::after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  content: "";
}

.inner-sec > h2{
	font-size : 19px;
}
 .hdng {
  text-align: center;
}
.hdng h1::after {
	background: #f6cd53 none repeat scroll 0 0;
	bottom: -22px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 50px;
	margin: 0 auto;
	right: 0;
}
#three .carousel-inner span b {
	font-size: 25px;
	margin: 0 7px;
	color: #f6cd53;
	position: relative;
	top: 5px;
}
.hdng h1 {
	color: #323954;
	display: inline-block;
	font-size: 43px;
	margin: 0 0 76px;
	position: relative;
	text-align: center;
}


.control-group {
	display: inline-block;
	vertical-align: top;
	background: none;
	text-align: left;
	box-shadow: 0 0 0 transparent;
	padding: 0;
	width: 100%;
	height: auto;
	margin: 10px;
}
.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
	width: 180px;
	display: inline-block;
}
#subscrib_popup .news-letter, #subscrib_popup1 .news-letter {
	background: transparent;
	float: left;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}
#subscrib_popup .modal-content, #subscrib_popup1 .modal-content {
	width: 100%;
	float: left;
	padding-bottom: 20px;
    border-radius: 0;
}
#subscrib_popup .modal-header, #subscrib_popup1 .modal-header {
	padding: 15px;
	border-bottom: 0px solid #e5e5e5;
}
#subscrib_popup .close, #subscrib_popup1 .close {
	font-size: 37px;
	margin: 0;
	color: #696969;
}

#subscrib_popup .news-letter input.inps, #subscrib_popup1 .news-letter input.inps {
	border: medium none;
	float: none;
	height: 50px;
	padding-left: 20px;
	width: 76%;
	border: 1px #003466 solid;
	border-right: 0;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.panel {
  padding-top: 10%;
}

.panel-body {
  width: 200px;
  margin: auto;
  background: #efefef;
  padding: 30px 20px;
}

.panel-head {
  background: #ddd;
  width: 240px;
  padding: 10px 0px;
  margin: auto;
  text-align: center;
  color: #444;
}

.small-text {
  text-align: center;
  font-size: 0.7em;
  color: #ddd;
}


/*Check Box Styling -------------------------*/

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	cursor: pointer;
	font-weight: 500;
	color: #333;
}

.checkbox-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label::before {
	content: '';
	background: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	text-align: center;
	line-height: 22px;
}

/*Simply Change the content to any font awesome unicode here to add your own check icon*/
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #003466;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}


.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
	background: #003466;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.btn_fix.sub_me {
	width: 300px;
	background-color: #f6cd53;
	color: #fff;
	border: 2px #fed767 solid !important;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.75px;
}
.btn_fix.sub_me:hover {
	color:#f6cd53;
    border: 2px #f6cd53 solid !important;
}
.carousel-inner .btn_fix {
	background-color: transparent;
	border: 0px #003466 solid;
	color: #1a4772;
	padding: 0;
	border-radius: 3px;
	font-size: 19px;
	margin: 0 auto;
	transition: 0.7s;
	font-weight: 400;
	font-style: italic;
}
.carousel-inner .btn_fix:hover {
	background-color: transparent;
	color: #1a4772;
}
.header_btn .btn_fix.subscribe_bt {
	float: none;
	position: relative;
	right: 0;
	padding: 14px 56px;
	font-size: 16px;
	top: 0;
	margin-top: 40px;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}


.hdng-cnt > h2 {
	display: inline-block;
	font-size: 45px !important;
	margin: 120px 0 0;
	text-transform: uppercase;
	font-weight: 400;
	color: #092845;
}
.hdng-cnt h4 {
	display: inline-block;
	font-size: 22px;
	line-height: 30px;
	margin: 20px 0 0px;
	width: 100%;
	font-weight: 400;
	color: #454545;
}

.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}


.hdng-cnt .slider {
  margin: 0 0 123px;
}
.carousel-inner p {
  background: #003466 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  padding: 8px 40px;
}
.header_btn {
	text-align: center;
	width: 100%;
	float: left;
	margin: 20px 0 40px 0;
}
.btn_fix {
	background-color: #f6cd53;
	border: 1px #f8ca44 solid;
	color: #fff;
	padding: 17px 28px;
	border-radius: 3px;
	font-size: 18px;
	margin: 0 auto;
	transition: 0.7s;
}
.btn_fix:hover{
    background-color:transparent;
    color:  #f6cd53;
}

.logo {
  text-align: center;
}
#three {
	/*background: rgba(0, 0, 0, 0) url("../images/Plumber.png") no-repeat fixed 0 0 / cover;*/
    background-color: #092e55;
	float: left;
	padding: 97px 0;
	width: 100%;
	margin-top: 90px;
    background-position: center;
}

#three .carousel-inner span {
  color: #ffffff;
  display: inline-block;
  float: none;
  font-size: 17px;
  font-style: italic;
  margin: 0 auto;
  min-height: 35px;
  padding: 0 170px;
  text-align: center;
  width: 100%;
}

#three .carousel-inner strong {
  color: #ffffff;
  display: inline-block;
  float: none;
  font-style: italic;
  margin: 3px 0 25px;
  min-height: 87px;
  padding: 0 170px;
  text-align: center;
  width: 100%;
}

#three h1 {
  color: #fff;
  margin-bottom: 26px;
}

#three .hdng h1::after {
	background: #f6cd53 none repeat scroll 0 0;
}

#three .hdng > p {
	color: #fff;
	display: inline-block;
	font-size: 22px;
	margin-bottom:55px;
	padding: 20px 0 0 0;
	width: 100%;
}

#six h1, #seven h1 {
  font-size: 31px;
  margin-bottom: 14px;
}

#six .hdng p,#seven .hdng p {
  font-size: 20px;
  margin-bottom: 72px;
}
#six {
  margin-top: 71px;
}
.news-letter {
  text-align: center;
}

.news-letter {
  background: rgba(0, 0, 0, 0) url("newsletter-background.jpg") no-repeat scroll 0 0 / cover ;
  float: left;
  padding: 35px 0;
  text-align: center;
  width: 100%;
}

.news-letter input {
  border: medium none;
  float: none;
  height: 50px;
  padding-left: 20px;
  width: 34%;
}
.news-letter input:nth-child(2) {
  background: #003466 none repeat scroll 0 0;
  color: #ffffff;
  font-weight: bold;
  padding: 0 19px;
  width: auto;
}
.hdng.serv h1 {
  margin: 150px 0 0;
}


#one .carousel-inner .item img { height : auto !important; width : 100%;}

#one h1 {
	margin-top: 60px;
}
#eight {
  background: #f5f5f5 none repeat scroll 0 0;
  float: left;
  margin-top: 120px;
  padding: 99px 0 113px;
  width: 100%;
}
#eight h1 {
  margin-bottom: 13px;
}

#eight span {
  float: left;
  font-size: 16px;
  font-style: italic;
  margin: 22px 0 0;
  position: relative;
  text-align: center;
  width: 100%;
}
#eight span::before {
  content: "";
  font-family: fontawesome;
  font-size: 23px;
  margin-left: -31px;
  margin-top: -10px;
  position: absolute;
  color : #003466;
}

#eight span::after {
  color : #003466;
  content: "";
  font-family: fontawesome;
  font-size: 23px;
  margin-left: 10px;
  position: absolute;
}



#eight strong {
  float: left;
  font-style: italic;
  text-align: center;
  width: 100%;
}
#eight .item img {
  border-radius: 50%;
  height: auto !important;
  margin: 0 auto;
  object-fit: cover;
  width: 59px;
}

#eight .carousel-indicators {
  bottom: -50px;
}

#eight .carousel-indicators .active {
  background-color: #003466;
}

#eight .carousel-indicators li {
  border: 1px solid #003466;
}

#eight .carousel-inner {
  margin-top: 60px;
}

footer {
  float: left;
  width: 100%;
  background :#003466;
}

.social-icons {
  text-align: center;
}
.social-icons a i {
	color: #ffffff;
	margin-right: 14px;
	font-size: 20px;
	margin-top: 15px;
}
.footer-details {
  float: left;
  width: 100%;
}
.menus-sec > li {
  display: inline-block;
  margin-right: 23px;
}
.menus-sec {
  margin-top: 40px;
  text-align: center;
}
.social-icons > li {
  display: inline-block;
}
.menus-sec a {
  color: #fff;
  font-size: 17px;
  font-weight: normal;
}
.footer2 {
	margin-top : 0;
}
.menus-sec a:hover {
  color: #e6e6e6;
  text-decoration : none;
}


.clock-sec {
	background: rgba(0, 0, 0, 0) url("img.jpg") no-repeat fixed 0 0 / cover;
	float: left;
	padding: 148px 0 0;
	width: 100%;
	margin-top: 70px;
}
.clock-sec .news-letter {
	background: #121212;
	float: left;
	margin-top: 62px;
	padding: 35px 0;
	text-align: center;
	width: 100%;
}
.check11 .countDown_interval_basic_cont_description {
  color: #ffffff;
}
.sidenav li {
	position: relative;
}
 .subscribe_bt.repon{
        display:none;
    }
.menus-sec > li a {
	text-transform: uppercase;
}

/*************** end css ****************/




@media screen and (max-width:991px){
    .why_hometrupeter {
	float: left;
	width: 100%;
}
    .get_update {
	width: 100%;
}
    #three .hdng > p {
    padding: 0;
    width: 100%;
    float: left;
}
    .patner_sec p {
	color: #808080;
	font-size: 15px;
	margin: 0 0 30px 0;
}
}

@media screen and (max-width:767px){
    .cart {
	margin-bottom: 20px;
}
    .main_form {
	width: 100%;
	margin: 40px auto 40px;
}
    .rempbrt {
	float: left;
	width: 100%;
}
    .fotgot {
	float: left;
	width: 100%;
	margin-top: 9px;
}
    .login_btn {
        width: 100%;
}
    .heading_login h1 {
	font-size: 17px;
    letter-spacing: 0;
}
    .login_sign {
	float: right;
	width: auto;
	position: relative;
	right: 0;
	top: 11px;
	padding: 0;
}
  
    .lofin_fomr {
	padding: 50px 15px;
}
    .patner_sec {
	padding: 40px 0;
}
    .slider .col-md-4.col-sm-4 {
	margin-bottom: 30px;
}
    .subscribe_bt{
        display: none;
    }
    .subscribe_bt.repon{
        display:block;
    }
    
    .header h1 {
	float: left;
}
    .hdng-cnt > h2 {
	font-size: 24px !important;
	margin: 50px 0 0;
}
    .hdng-cnt h4 {
	display: inline-block;
	font-size: 18px;
	line-height: 30px;
	margin: 21px 0 10px;
}
    .header_btn {
	margin: 20px 0 0px 0;
}
    .hdng h1 {
	font-size: 30px;
	margin: 0 0 76px;
}
    #three .carousel-inner span {
	min-height: 35px;
	padding: 0;
}
    #three .carousel-inner strong {
	padding: 0;

}
    .boder_x {
	margin-bottom: 15px;
}
    .patner_sec p {
	margin: 0 0 30px 0;
}
    .news-letter input {
	width: 54%;
}
    #subscrib_popup .news-letter input.inps {
	width: 56%;
}
    #one h1 {
	margin-top: 40px;
}
    .hdng h1 {
	margin: 0 0 46px;
}
    #how_it_work {
	margin-top: 0;
}
    .logo img {
	width: 170px;
	float: left;
}
    .header {
    padding: 15px 0;
}
    .mail_id .subscribe {
	position: relative;
	right: 0;
	width: 100%;
	margin-top: 10px;
}
    .mail_id input {
	width: 100%;
}
    .why_hometrupeter {
	float: left;
	width: 100%;
}
    .get_update {
	width: 100%;
}
    .countDown__interval_basic_cont {
	float: left;
	margin: 0;
	width: 50%;
}
    .countDown_interval_basic_cont_description {
	margin-left: 12px;
}
    .countDown_digit_cont {
	width: 85%;
	margin-bottom: 10px;
}
    .countDown_interval_cont {
	display: block;
	display: block;
	display: block;
	justify-content: space-around;
	width: 100%;
}
}

