﻿/*
Theme Name: thumbstack
Theme URI: http://migrateshop.com
Author: Migrate Shop Team
Author URI: http://sangvish.com
Description: Multi vendor marketplace
Version: 1.0
Text Domain: sangvish-tn
*/



@font-face {
  font-family: 'Avenirlight';
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Light.otf')  format('opentype'),
	     url('../fonts/AvenirLTStd-Light.woff') format('woff'), url('../fonts/AvenirLTStd-Light.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: 'AvenirRegular';
  src: url('../fonts/AvenirNextLTW01RegularRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTW01RegularRegular.woff') format('woff'), url('../fonts/AvenirNextLTW01RegularRegular.ttf')  format('truetype'), url('../fonts/AvenirNextLTW01RegularRegular.svg#AvenirNextLTW01RegularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-Medium.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Medium.woff') format('woff'), url('../fonts/AvenirNextLTPro-Medium.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}





html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	font-family: 'Roboto', sans-serif;
	
}
p, li
{
	font-family: 'Roboto', sans-serif;
}

body
{
	color: #4e4d4d;
}
.caption a
{
	color: #4e4d4d !important;
}
.caption a:hover
{
	text-decoration:none;
}

.footerbar ul li a,ul li a
{
	font-family: 'Roboto', sans-serif;
}




@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.eot?w118d');
	src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color:#FA9300;
	font-size:20px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
	content: "\e800";
}
.lnr-apartment:before {
	content: "\e801";
}
.lnr-pencil:before {
	content: "\e802";
}
.lnr-magic-wand:before {
	content: "\e803";
}
.lnr-drop:before {
	content: "\e804";
}
.lnr-lighter:before {
	content: "\e805";
}
.lnr-poop:before {
	content: "\e806";
}
.lnr-sun:before {
	content: "\e807";
}
.lnr-moon:before {
	content: "\e808";
}
.lnr-cloud:before {
	content: "\e809";
}
.lnr-cloud-upload:before {
	content: "\e80a";
}
.lnr-cloud-download:before {
	content: "\e80b";
}
.lnr-cloud-sync:before {
	content: "\e80c";
}
.lnr-cloud-check:before {
	content: "\e80d";
}
.lnr-database:before {
	content: "\e80e";
}
.lnr-lock:before {
	content: "\e80f";
}
.lnr-cog:before {
	content: "\e810";
}
.lnr-trash:before {
	content: "\e811";
}
.lnr-dice:before {
	content: "\e812";
}
.lnr-heart:before {
	content: "\e813";
}
.lnr-star:before {
	content: "\e814";
}
.lnr-star-half:before {
	content: "\e815";
}
.lnr-star-empty:before {
	content: "\e816";
}
.lnr-flag:before {
	content: "\e817";
}
.lnr-envelope:before {
	content: "\e818";
}
.lnr-paperclip:before {
	content: "\e819";
}
.lnr-inbox:before {
	content: "\e81a";
}
.lnr-eye:before {
	content: "\e81b";
}
.lnr-printer:before {
	content: "\e81c";
}
.lnr-file-empty:before {
	content: "\e81d";
}
.lnr-file-add:before {
	content: "\e81e";
}
.lnr-enter:before {
	content: "\e81f";
}
.lnr-exit:before {
	content: "\e820";
}
.lnr-graduation-hat:before {
	content: "\e821";
}
.lnr-license:before {
	content: "\e822";
}
.lnr-music-note:before {
	content: "\e823";
}
.lnr-film-play:before {
	content: "\e824";
}
.lnr-camera-video:before {
	content: "\e825";
}
.lnr-camera:before {
	content: "\e826";
}
.lnr-picture:before {
	content: "\e827";
}
.lnr-book:before {
	content: "\e828";
}
.lnr-bookmark:before {
	content: "\e829";
}
.lnr-user:before {
	content: "\e82a";
}
.lnr-users:before {
	content: "\e82b";
}
.lnr-shirt:before {
	content: "\e82c";
}
.lnr-store:before {
	content: "\e82d";
}
.lnr-cart:before {
	content: "\e82e";
}
.lnr-tag:before {
	content: "\e82f";
}
.lnr-phone-handset:before {
	content: "\e830";
}
.lnr-phone:before {
	content: "\e831";
}
.lnr-pushpin:before {
	content: "\e832";
}
.lnr-map-marker:before {
	content: "\e833";
}
.lnr-map:before {
	content: "\e834";
}
.lnr-location:before {
	content: "\e835";
}
.lnr-calendar-full:before {
	content: "\e836";
}
.lnr-keyboard:before {
	content: "\e837";
}
.lnr-spell-check:before {
	content: "\e838";
}
.lnr-screen:before {
	content: "\e839";
}
.lnr-smartphone:before {
	content: "\e83a";
}
.lnr-tablet:before {
	content: "\e83b";
}
.lnr-laptop:before {
	content: "\e83c";
}
.lnr-laptop-phone:before {
	content: "\e83d";
}
.lnr-power-switch:before {
	content: "\e83e";
}
.lnr-bubble:before {
	content: "\e83f";
}
.lnr-heart-pulse:before {
	content: "\e840";
}
.lnr-construction:before {
	content: "\e841";
}
.lnr-pie-chart:before {
	content: "\e842";
}
.lnr-chart-bars:before {
	content: "\e843";
}
.lnr-gift:before {
	content: "\e844";
}
.lnr-diamond:before {
	content: "\e845";
}
.lnr-linearicons:before {
	content: "\e846";
}
.lnr-dinner:before {
	content: "\e847";
}
.lnr-coffee-cup:before {
	content: "\e848";
}
.lnr-leaf:before {
	content: "\e849";
}
.lnr-paw:before {
	content: "\e84a";
}
.lnr-rocket:before {
	content: "\e84b";
}
.lnr-briefcase:before {
	content: "\e84c";
}
.lnr-bus:before {
	content: "\e84d";
}
.lnr-car:before {
	content: "\e84e";
}
.lnr-train:before {
	content: "\e84f";
}
.lnr-bicycle:before {
	content: "\e850";
}
.lnr-wheelchair:before {
	content: "\e851";
}
.lnr-select:before {
	content: "\e852";
}
.lnr-earth:before {
	content: "\e853";
}
.lnr-smile:before {
	content: "\e854";
}
.lnr-sad:before {
	content: "\e855";
}
.lnr-neutral:before {
	content: "\e856";
}
.lnr-mustache:before {
	content: "\e857";
}
.lnr-alarm:before {
	content: "\e858";
}
.lnr-bullhorn:before {
	content: "\e859";
}
.lnr-volume-high:before {
	content: "\e85a";
}
.lnr-volume-medium:before {
	content: "\e85b";
}
.lnr-volume-low:before {
	content: "\e85c";
}
.lnr-volume:before {
	content: "\e85d";
}
.lnr-mic:before {
	content: "\e85e";
}
.lnr-hourglass:before {
	content: "\e85f";
}
.lnr-undo:before {
	content: "\e860";
}
.lnr-redo:before {
	content: "\e861";
}
.lnr-sync:before {
	content: "\e862";
}
.lnr-history:before {
	content: "\e863";
}
.lnr-clock:before {
	content: "\e864";
}
.lnr-download:before {
	content: "\e865";
}
.lnr-upload:before {
	content: "\e866";
}
.lnr-enter-down:before {
	content: "\e867";
}
.lnr-exit-up:before {
	content: "\e868";
}
.lnr-bug:before {
	content: "\e869";
}
.lnr-code:before {
	content: "\e86a";
}
.lnr-link:before {
	content: "\e86b";
}
.lnr-unlink:before {
	content: "\e86c";
}
.lnr-thumbs-up:before {
	content: "\e86d";
}
.lnr-thumbs-down:before {
	content: "\e86e";
}
.lnr-magnifier:before {
	content: "\e86f";
}
.lnr-cross:before {
	content: "\e870";
}
.lnr-menu:before {
	content: "\e871";
}
.lnr-list:before {
	content: "\e872";
}
.lnr-chevron-up:before {
	content: "\e873";
}
.lnr-chevron-down:before {
	content: "\e874";
}
.lnr-chevron-left:before {
	content: "\e875";
}
.lnr-chevron-right:before {
	content: "\e876";
}
.lnr-arrow-up:before {
	content: "\e877";
}
.lnr-arrow-down:before {
	content: "\e878";
}
.lnr-arrow-left:before {
	content: "\e879";
}
.lnr-arrow-right:before {
	content: "\e87a";
}
.lnr-move:before {
	content: "\e87b";
}
.lnr-warning:before {
	content: "\e87c";
}
.lnr-question-circle:before {
	content: "\e87d";
}
.lnr-menu-circle:before {
	content: "\e87e";
}
.lnr-checkmark-circle:before {
	content: "\e87f";
}
.lnr-cross-circle:before {
	content: "\e880";
}
.lnr-plus-circle:before {
	content: "\e881";
}
.lnr-circle-minus:before {
	content: "\e882";
}
.lnr-arrow-up-circle:before {
	content: "\e883";
}
.lnr-arrow-down-circle:before {
	content: "\e884";
}
.lnr-arrow-left-circle:before {
	content: "\e885";
}
.lnr-arrow-right-circle:before {
	content: "\e886";
}
.lnr-chevron-up-circle:before {
	content: "\e887";
}
.lnr-chevron-down-circle:before {
	content: "\e888";
}
.lnr-chevron-left-circle:before {
	content: "\e889";
}
.lnr-chevron-right-circle:before {
	content: "\e88a";
}
.lnr-crop:before {
	content: "\e88b";
}
.lnr-frame-expand:before {
	content: "\e88c";
}
.lnr-frame-contract:before {
	content: "\e88d";
}
.lnr-layers:before {
	content: "\e88e";
}
.lnr-funnel:before {
	content: "\e88f";
}
.lnr-text-format:before {
	content: "\e890";
}
.lnr-text-format-remove:before {
	content: "\e891";
}
.lnr-text-size:before {
	content: "\e892";
}
.lnr-bold:before {
	content: "\e893";
}
.lnr-italic:before {
	content: "\e894";
}
.lnr-underline:before {
	content: "\e895";
}
.lnr-strikethrough:before {
	content: "\e896";
}
.lnr-highlight:before {
	content: "\e897";
}
.lnr-text-align-left:before {
	content: "\e898";
}
.lnr-text-align-center:before {
	content: "\e899";
}
.lnr-text-align-right:before {
	content: "\e89a";
}
.lnr-text-align-justify:before {
	content: "\e89b";
}
.lnr-line-spacing:before {
	content: "\e89c";
}
.lnr-indent-increase:before {
	content: "\e89d";
}
.lnr-indent-decrease:before {
	content: "\e89e";
}
.lnr-pilcrow:before {
	content: "\e89f";
}
.lnr-direction-ltr:before {
	content: "\e8a0";
}
.lnr-direction-rtl:before {
	content: "\e8a1";
}
.lnr-page-break:before {
	content: "\e8a2";
}
.lnr-sort-alpha-asc:before {
	content: "\e8a3";
}
.lnr-sort-amount-asc:before {
	content: "\e8a4";
}
.lnr-hand:before {
	content: "\e8a5";
}
.lnr-pointer-up:before {
	content: "\e8a6";
}
.lnr-pointer-right:before {
	content: "\e8a7";
}
.lnr-pointer-down:before {
	content: "\e8a8";
}
.lnr-pointer-left:before {
	content: "\e8a9";
}

.headerbg
{
	background:#F4F4F4;
	border-top:1px solid #E1E3E3;
	border-bottom:1px solid #E1E3E3;
	padding-top:20px;
	padding-bottom:20px;
}

.notopborder
{
	padding-top:30px;
	border-bottom:1px solid #E1E3E3;
}

.radiusoff
{
	border-radius:0px;
	/* background-color: #f6cd53; */
	border-color: #f6cd53;
}

.radiusoff:hover
{
	/* background-color: #f6cd53; */
	border-color: #f6cd53;
}


.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  top: 50%;
  position:absolute;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  top: 50%;
  position:absolute;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}



.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}




.sli-head
{
	
	padding-bottom:10px;
	
	font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}


/******************************** Chat window Design *************************/
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
#file-select{display: none}
#file-form .fa-paperclip{font-size: 25px; padding: 12px 0;}
#file-form{ float: left; width: 6%;}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:100%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 90%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

/****************************************** End Chat window *********************************/


@media only screen and (min-device-width : 480px) and (max-device-width : 768px)
{
	.firstsize
	{
		width:50% !important;
	}
	
	
}




@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	
	
	
	
	#myTab > li 
	{
		margin-bottom:3px;
	}
	#gallery .img-responsive
	{
		margin-bottom:7px;
	}
	.nav-tabs
	{
		margin-left:5px;
	}
	
	.height10
{
	height:10px !important;
	clear:both !important;
}
	
	.shop-list-page{
		width:92% !important;
	}
	
	.revbtn .btn
    {
		padding:9px 12px !important;
		margin-left:-15px;
	}
	
	
	.fb-profile-text
	{
		margin-left:30px;
	}
	
	.mtop10
	{
		top:10px;
		position:relative;
	}
	
	.navbar-inverse .navbar-toggle {
	background-color:#333333 !important;
	}
	
	
	.navbar-collapse
	{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
	.moves20
	{
		margin-top:20px;
	}
	
	.nbs-flexisel-item img {
    min-width: 80%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
	max-height:150px;
	
}
	
	
	.footerbottom ul
	{
		float:left;
	}
	.footerbottom ul li
	{
		border:0px;
	}
	.sli-text
{
	font-size:14px;
}
	
	.navbar-inverse
{
	background:#f4f4f4 !important;
	border-color:#E1E3E3 !important;
	padding:0px !important;
	/*height:0px !important;*/
}
.navbar-header img
{
	max-height:50px;
	padding-left:10px;
}

.navbar-nav
{
	background:#101010 !important;
}
.bannerheight
{
	min-height:300px;
}
.bannertxt
{
	top:50px;
	position:absolute;
}
.headingcolor
{
	color:#fff !important;
}
h1.headingcolor
{
	font-size:30px;
	line-height:25px;
}
h4.headingcolor
{
	font-size:16px;
	line-height:20px;
	padding-left:10px;
	padding-right:10px;
}
.searchtext,.searchbtn
{
	border-radius:0px !important;
}

.icons
{
	min-height:100%;
}
ul.paddoff
{
	padding:0px !important;
	
	width:100%;
	margin-left:10px;
	
	
}
.ashbg
{
	background:#fff !important;
}
.icons li
{
	display:inline-block;
	list-style:none;
	padding-left:7px;
	padding-right:7px;
	width:22%;
	
	
}
.icons li div
{
	text-align:center;
}

ul.paddoff li
{
	
	top:0px !important;
	
	position:relative;
}
.move10
{
	padding-top:20px !important;
	
}
.navbar-nav
{
	margin:0px;
}

.blog-wightbg
{
	margin-bottom:20px;
}
.big
{
	margin-bottom:10px !important;
}

.navbar-inverse .sangvish_homepage > li > a,.navbar-inverse .sangvish_homepage > .active > a
{
	color:#fff;
}
.navbar-inverse .sangvish_otherpage > li > a,.navbar-inverse .sangvish_otherpage > .active > a
{
	color:#fff;
}
.navbar-inverse .sangvish_otherpage > li > a:hover,.navbar-inverse .sangvish_otherpage > .active > a:hover
{
	color:#fff;
}



h1, .h1,.sli-head
{
	font-size:24px;
}
.blog h1,.sli-head
{
	line-height:35px;
}
.clearfixed
{
	clear:both;
	margin-bottom:10px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}
.user img
{
	float:none !important;
}
#flexiselDemotesti .user
{
	text-align:center !important;
}
.user h5
{
	left:0px !important;
}
/*footer .footerbar ul li,footer .footerbar h4
{
	text-align:center;
}*/
footer .footerbar h4
{
	margin-top:40px;
}
footer .footerbar .social
{
	
	left:0px !important;
	position:relative !important;
}
/* footer .footerbar .social ul
{
	margin:40px auto;
}
.nav>li
{
	text-align:center;
}*/

.searchbtn
	{
		margin-top:4px !important;
	}
	.footerbar .col-md-4 .img-responsive
	{
		text-align:left !important;
		
	}
	
	
	.nav-tabs
	{
		
	}
	#myTab > li > a
	{
		
		font-size:12px;
		color:#555 !important;
		background:#E8E8E8 !important;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,#myTab > li.active a
	{
		background:#fff !important;
		
	}
	
	.tab-pane .services
	{
		width:90% !important;
		float:left !important;
	}

	
}

tbody tr td a.btn{margin-left: 5px; }

.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.discuss-main-win .toolbar{
	width: 100%;
	background-color: #000;
	height: 30px;
	z-index: 9999!important;
	position: relative;
	float: left;
	color: #fff;
	padding: 5px;
}
.frame {
    background: #e0e0de;
    height: 450px;
    overflow: hidden;
    padding: 0;
    float: right;
    z-index: 1;
    width: 300px;
    margin-left: 5px;
}
.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
ul#rfp-dis {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:32px;
    display:flex;
	flex-direction: column;
	overflow:auto;

}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
.approval-res{margin: 0px 35px;}
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}   

.discuss-main-win {
    position: fixed;
    right: 0 !important;
    width: auto;
    bottom: 0px;
	float: right;	
    z-index: 9999;
}
.discuss-main-win .toolbar a{float: right; margin-right: 5px;}
.discuss-main-win .toolbar a i{color: #fff;}

@media screen and (max-width: 767px) {
	
	.booking.list
	{
		width:49%;
		float:left;
		margin-right:5px;
	}
	
	/*.justmove
	{
		float:left;
		margin-left:2px;
	}
	.height10
	{
		clear:none;
		height:0px;
	}*/
	
	
	.tab-pane .services
	{
		width:46%;
		float:left !important;
	}
	
	.revbtn
	{
		clear:both;
		padding-top:10px !important;
	}
	
	.customh5,.customh4
	{
		text-align:center !important;
	}
	
	.navbar-inverse .sangvish_homepage > li > a,.navbar-inverse .sangvish_homepage > .active > a
{
	color:#fff;
}
.navbar-inverse .sangvish_otherpage > li > a,.navbar-inverse .sangvish_otherpage > .active > a
{
	color:#fff;
}
.navbar-inverse .sangvish_otherpage > li > a:hover,.navbar-inverse .sangvish_otherpage > .active > a:hover
{
	color:#fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a
{
	color:#fff;
}
	
	
	.swidth,.custobtn
	{
		margin-top:10px !important;
		position:relative !important;
	}
	
	.searchbtn
	{
		margin-top:10px;
	}
	
	.footerbar .col-md-4 .img-responsive
	{
		text-align:left;
		margin:0px;
	}
	
	footer .footerbar h4
{
	margin-top:40px;
}
	.big
{
	margin-bottom:10px !important;
}
	
	.clearfixed
{
	clear:both;
	margin-bottom:10px;
}
	
	h1, .h1,.sli-head
{
	font-size:24px;
}
.blog h1,.sli-head
{
	line-height:35px;
}
	
	.navbar-inverse
{
	background:#f4f4f4 !important;
	border-color:#E1E3E3 !important;
	padding:0px !important;
	/*height:0px !important;*/
}

.navbar-toggle
{
	background:#000;
}
.navbar-collapse
{
	background:#000;
}

.nav>li
{
	text-align:center;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}


.bannerheight
{
	min-height:300px;
}
.bannertxt
{
	top:50px;
	position:absolute;
}
.headingcolor
{
	color:#fff !important;
}
h1.headingcolor
{
	font-size:30px;
	line-height:25px;
}
h4.headingcolor
{
	font-size:16px;
	line-height:20px;
	padding-left:10px;
	padding-right:10px;
}
.searchtext,.searchbtn
{
	border-radius:0px !important;
}

.navbar-header img
{
	max-height:50px;
	padding-left:10px;
}

ul.paddoff
{
	padding:0px !important;
	
	width:100%;
	margin-top:30px;
	
	
}
.ashbg
{
	background:#fff !important;
}
.ashbg > .clearfix
{
	height:0px;
}

.icons li
{
	display:inline-block;
	list-style:none;
	padding-left:7px;
	padding-right:7px;
	text-align:center;
	
	
	
}


.nav-tabs
	{
		
	}
	#myTab > li > a
	{
		
		font-size:14px;
		color:#555 !important;
		background:#E8E8E8 !important;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
	{
		background:#fff !important;
		
	}


.shop-list-page{
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:46%;
}

	
}

@media screen and (min-width: 767px) {
	
	.shop-list-page{
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:29%;
}


.tab-pane .services
	{
		width:30%;
		float:left !important;
	}
	
}
@media screen and (min-width: 1024px) {
.shop-list-page{
	
	
	width:100% !important;
}
.tab-pane .services
	{
		width:100% !important;
		
	}
	.booking.list
	{
		width:100%;
	}
}

.modal-dialog.accept-proposal-modal{width:60% !important;}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
	#overlays {
      position: absolute;
      top: 0;
      left: 0;
     
      width: 100%;
	  max-height:300px;
	  height:100%;
      
      background-color: rgba(0, 0, 0, 0.5);
     
    }
	
	
	.booking.list
	{
		width:49%;
		float:left;
		margin-right:5px;
	}
	.well-sm
	{
		margin-left:-15px;
		clear:both;
	}
	.fb-image-profile
	{
		margin-left:50px !important;
	}
	
	
	.noborder,.nocity
	{
		margin-bottom:10px;
	}
	
	.height10
	{
		height:0px !important;
	}


	.getmore
	{
		min-height:350px;
	}
	
	footer .footerbar h4
{
	margin-top:40px;
}
	
	.shop-list-page{
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:29%;
}


.tab-pane .services
	{
		width:30%;
		float:left !important;
		min-height:200px !important;
	}
	
	.customh5,.customh4
	{
		text-align:center !important;
	}
	
	.fb-profile-text h1,.fb-profile-text p
	{
		left:10px !important;
		position:relative;
	}
	.booking-main .col-md-4
	{
		clear:both;
		padding-top:10px;
	}
	
	.nav-tabs
	{
		
	}
	#myTab > li > a
	{
		
		font-size:12px;
		color:#555 !important;
		background:#E8E8E8 !important;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,#myTab > li.active a
	{
		background:#fff !important;
		
	}
	
	
	
	
	
	.caret,.navbar-inverse .navbar-nav>.dropdown>a .caret
	{
		border-top-color:#FB8C00 !important;
	}
	.navbar-inverse .navbar-nav>.open>a .caret, .navbar-inverse .navbar-nav>.open>a:hover .caret, .navbar-inverse .navbar-nav>.open>a:focus .caret
	{
		border-top-color:#FB8C00 !important;
	}
	
	.navbar-inverse
{
	background:#f4f4f4 !important;
	border-color:#E1E3E3 !important;
	padding:0px !important;
	/*height:0px !important;*/
}

.navbar-inverse .navbar-nav> a
{
	background:#080808 !important;
}
	
	.navbar-header img
{
	max-height:50px;
}
	
	.moves20
	{
		margin-top:20px;
	}
	
	
	.nbs-flexisel-item img {
    min-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
	max-height:150px;
	
}
	
	
	
.blog-wightbg img,.works img,.video img
{
	    margin: 0 auto;
}
.video .big
{
	padding-bottom:10px;
}	
	
.sli-text
{
	font-size:16px;
}	
	
.bannerheight
{
	min-height:300px;
}	
	
	.bannertxt
{
	top:50px;
	position:absolute;
}
.headingcolor
{
	color:#fff !important;
}
h1.headingcolor
{
	font-size:30px;
	line-height:25px;
}
h4.headingcolor
{
	font-size:20px;
	line-height:27px;
	padding-left:10px;
	padding-right:10px;
}
.searchtext,.searchbtn
{
	border-radius:0px !important;
}


.icons
{
	background:#F4F4F4;
	width:100%;
	padding:10px;
	min-height:90px;
}
.icons li
{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	list-style:none;
	
}
.icons li div
{
	text-align:center;
}

.wightbg
{
	background:#fff;
	padding:10px;
	border:1px solid #EDEEEE;
	border-radius:4px;
}

.moveright
{
	left:13px;
}

.footerbottom ul
{
	float:right;
}
.footerbottom ul li
{
	border-right:1px solid #8D9494;
}


.navbar-inverse .sangvish_homepage > li > a,.navbar-inverse .sangvish_homepage > .active > a
{
	color:#000;
	
}
.navbar-inverse .sangvish_otherpage > li > a,.navbar-inverse .sangvish_otherpage > .active > a
{
	
	color:#000;
}
.navbar-inverse .sangvish_otherpage > li > a:hover,.navbar-inverse .sangvish_otherpage > .active > a:hover
{
	color:#000;
	
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
{
	color:#000;
}

.nav-tabs
	{
		
	}
	#myTab > li > a
	{
		
		font-size:18px;
		color:#555 !important;
		background:#E8E8E8 !important;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
	{
		background:#fff !important;
		
	}

	
	
}




@media screen and (min-width: 1200px) and  (max-width: 1920px) {
	#overlays {
      position: absolute;
      top: 0;
      left: 0;
	  width: 100%;
	  max-height: 570px;
	  height:100%;
      
      background-color: rgba(0, 0, 0, 0.5);
     
    }

	
	#flexiselDemo3 .weightbg .img-responsive,#flexiselDemo31 .weightbg .img-responsive,#flexiselDemo32 .weightbg .img-responsive,#flexiselDemo33 .weightbg .img-responsive
	{
		display:inherit !important
	}
	
	.newcsl
	{
		min-height:220px;
	}
	
	
	.dropdown-menu > li > a
	{
		padding:10px 20px !important;
	}
	
	
	.nav-tabs
	{
		
	}
	#myTab > li > a
	{
		padding:10px 63px;
		font-size:18px;
		color:#555;
		background:#E8E8E8;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
	{
		background:#fff !important;
		
	}
	
	
	
	body
	{
		overflow-x:hidden;
	}
	
	.gridviews
{
	border:1px solid #ccc;
	padding:0px;
	margin:10px;
	
}	

.project figure img {
    border: 0;
    width: 100%;
	min-width:283px;
	max-height:200px;
}
	
	
	.booking_page {
    background: #f5f5f5;
    margin-bottom: 30px;
}
	
	.shop_pic {
    padding: 0;
}
	
	
	.swidth
	{
		padding-left:20px;
		position:relative;
	}
	
	.cuwidth
	{
		width:10% !important;
	}
	
	.webheight
	{
		height:40px;
	}
	
	.shop .form-group
	{
		margin-bottom:40px;
	}
	
	
	.nopadding
	{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
	
	
	.nbs-flexisel-inner .weightbg
{
	background:#ffffff !important;
	margin-left: 32px;
    margin-right: 32px;
	padding-bottom:10px;
	padding-top:2px;
	border:1px solid #EDEEEE;
	border-radius:4px;
}
.nbs-flexisel-item img {
    min-width: 230px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
	max-height:150px;
	
}
	
	
	
	.navbar-inverse .navbar-nav > .open > a
	{
		background:#F8F8F8 !important;
		color:#000 !important;
	}
	.navbar-inverse .navbar-nav > .open a .caret
	{
		
		border-bottom-color: #FB8C00 !important;
    border-top-color: #FB8C00 !important;
	}
	
	.dropdown-menu
{
	background:#F8F8F8 !important;
	
}
.dropdown-menu > li > a
{
	color:#000 !important;
}
.dropdown-menu > li > a:hover
{
	color:#000 !important;
}
	
	
	
	
	
	.video .big
	{
		min-height:413px;
	}
	.left10
	{
		left:7px;
	}
	
	.app .img-responsive
	{
		min-width:130px;
	}
	
	.getmore
{
	min-height:400px;
}
	
	.carousel .img-responsive
	{
		
		max-height:160px;
	}
	
	.sli-text
{
	font-size:18px;
}



.homenav
{
	background:none;
	border:none;
	
	
}
.migrateshop_othernav
{
	background:#fff !important;
	border-bottom:1px solid #e1e3e3;
	
	
	
}

.topbottom
{
	padding-top:10px;
	padding-bottom:10px;
}

.bannertxt
{
	position:absolute;
	top:100px;
	width:100%;
	
}
.container  h1{
	color:#092845;
}
.container h3 {color:#454545;}
.headingcolor
{
	color:#fff !important;
}

h1.headingcolor
{
	font-size:35px;
	line-height:30px;
}
h4.headingcolor
{
	font-size:21px;
	line-height:27px;
	padding-left:20px;
	padding-right:20px;
}
.form_move
{
	margin-top:40px;
}


.bannerheight
{
	min-height:400px;
	
}


.icons
{
	background:#F4F4F4;
	width:100%;
	padding:10px;
	min-height:90px;
}
.icons li
{
	display:inline-block;
	padding-left:18px;
	padding-right:18px;
	list-style:none;
	
}
.icons li div
{
	text-align:center;
}


.wightbg
{
	background:#fff;
	padding:10px;
	border:1px solid #EDEEEE;
	border-radius:4px;
}
.moveright
{
	left:13px;
}

.footerbottom ul
{
	float:right;
}
.footerbottom ul li
{
	border-right:1px solid #8D9494;
}



.navbar-inverse .sangvish_homepage > li > a,.navbar-inverse .sangvish_homepage > .active > a
{
	color:#fff;
}
.navbar-inverse .sangvish_otherpage > li > a,.navbar-inverse .sangvish_otherpage > .active > a
{
	color:#000 !important;
}
.navbar-inverse .sangvish_otherpage > li > a:hover,.navbar-inverse .sangvish_otherpage > .active > a:hover
{
	color:#000 !important;
}
	
	

}



.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
	background:none;
}





.searchtext
{
	
	padding:10px;
	height:50px;
	line-height:50px;
	border-radius: 4px 0 0 4px;
	width:100%;
	border:none;
    
}
.searchbtn
{
	padding:10px;
	height:50px;
	color:#fff;
    font-size:17px;	
	background:#f6cd53;
	width:100%;
	border:none;
	border-radius: 0px 4px 4px 0px;
	
}
.paddingoff
{
	padding-left:0px;
	padding-right:0px;
}

.clearfix
{
	clear:both;
	height:30px;
}

.ashbg
{
	background:#FAFAFA;
}

.works
{
	background:#fff;
}
.height10
{
	height:10px;
	clear:both;
}
.height20
{
	height:20px;
	clear:both;
}
.height30
{
	height:30px;
	clear:both;
}
.height40
{
	height:40px;
	clear:both;
}
.height50
{
	height:50px;
	clear:both;
}
.works h3
{
	font-size:21px;
	line-height:25px;
}
.works p
{
	font-size:14px;
}
.blog
{
	background:#FAFAFA;
}
.blog h1
{
	
	line-height:45px;
}

.video
{
	background:#fff;
}
.video h1
{
	line-height:45px;
}

.blog-wightbg
{
	background:#fff;
	border:1px solid #EDEEEE;
	border-radius:4px;
}
.blog-wightbg p
{
	padding:15px;
	font-size:14px;
	color:#8d9494;
}
.blog-wightbg .user
{
	border-top:1px solid #edeeee;
}
.clear
{
	clear:both;
}
.user
{
	padding:20px;
	
}
.user img
{
	float:left;
	border-radius:50px;
}
.user h4
{
	display:inline-block;
	font-size:16px;
	margin-left:10px;
}
.user h5
{
	
	font-size:14px;
	margin-top:0px;
	position:relative;
	left:10px;
}

.getmore
{
	background: url(../img/jar.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  padding:50px;
}
.getmore h2,.getmore p
{
	color:#fff;
}
.getmore h2
{
	font-size:30px;
	line-height:35px;
}
.getmore p
{
	font-size:14px;
	line-height:22px;
}


.footerbar
{
	border-top:1px solid #E1E3E3;
}
footer .footerbar ul
{
	margin-left:-40px;
	position:relative;
}
footer .footerbar ul li
{
	list-style:none;
	left:0px;
	position:relative;
	line-height:26px;
	
}
footer .footerbar ul li a
{
	color:#8D9494;
	text-transform:capitalize;
}
footer .footerbar ul li a:hover
{
	text-decoration:none;
	color:#8D9494;
}
.footerbottom
{
	background:#003466;
	padding:20px;
}
.footerbottom p
{
	color:#ffffff;
}
.footerbottom a
{
	color:#8D9494;
}
.footerbottom a:hover
{
	text-decoration:none;
}
.footerbottom ul li
{
	list-style:none;
	display:inline;
	
	padding-right:10px;
	padding-left:10px;
	
}
.footerbottom ul li:last-child
{
	border-right:0px solid #8D9494;
}

.serviceclr
{
	color:#333;
	font-weight:bold;
	font-size:16px;
	
}
.serviceclr:hover
{
	text-decoration:none;
	color:#F27802;
}
textarea{resize: none;}

.customcolor li:hover  a
{
	color:#F27802 !important;
}
.customcolor li img
{
	opacity:0.7;
}



.innerbg
{
	text-align:left !important;
	padding:20px 20px 0px 20px;
}
#flexiselDemotesti .user
{
	text-align:left;
}
#flexiselDemotesti img
{
	width:auto !important;
	min-width:auto !important;
}

.customsize
{
	width:70px;
}
.user-txt
{
	margin-top:50px;
	margin-bottom:50px;
}




.profile {
 /* margin: 20px 0;*/
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
   border:1px solid #eee;
  border-radius:5px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border:3px solid #eee;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: auto;
  border:1px solid #eee;
  border-radius:5px;
}

.require
{
	color:#eb4354 !important;
}

.littlebit
{
	margin-top:5px;
	margin-bottom:15px;
}


.fb-profile img.fb-image-lg{
    z-index: 0;
     
    margin-bottom: 10px;
	background-repeat:no-repeat;


  width:100%;
 
  min-height: 100%;
  height:250px;
  

  
 
  margin-top:-20px;
  
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

.cover_pic {
    position: relative;
    min-height: 350px;
    background-size: cover !important;
    background-position: center center;
}


.clearboth
{
	clear:both;
}

.table-responsive {
   
    overflow-x: auto;
    width: 100%;
}

.services {
    display: inline-block;
    margin: 10px;
    width: 100%;
    background: #f9f9f9;
    padding: 15px 4px;
    text-align: center;
    border: 2px dotted #eee;
}

.customwidth
{
	max-width:160px !important;
}

.nbn
{
	margin-top:10px !important;
	
}

.noborder .form-control
{
	height:auto !important;
	padding:0px !important;
	border:0px !important;
}
.nocity .form-control
{
	border-radius:0px;
	height:38px;
}
.custobtn .btn
{
	border-radius:0px;
	padding:7px 20px !important;
	text-transform:uppercase;
	background-color: #f6cd53;
	border-color: #f6cd53;
}

.shop-list-page {
    background: #fff;
    margin-bottom: 20px;
    min-height: 340px;
	border:1px solid #E1E3E3;
}

.shop-list-page .shop_pic, .booking_page, .shop_pic {
    padding: 0;
}

.imgservice
{
	min-height:100px;
}

.shop_content h4 a {
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 20px;
	color:#000;
	text-align:center;
	
	text-decoration:none;
}
.shop_content
{
	text-align:center;
	clear:both;
}

.imgradius {
    border-radius: 50% !important;
}

.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.customh4 {
    font-size: 15px !important;
	line-height:20px;
    text-align: left;
}

.customh5 {
    font-size: 14px !important;
    text-align: left;
}

.booknow {
    background: #f6cd53;
    border: 0;
    color: #fff;
    padding: 10px 0px;
    border-bottom: 2px solid #f6cd53;
    border-radius: 0px;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
}
textarea#new-review34 {
    background-color: #fff;
	border-color: #ccc;
}
.btn-primary:hover , .btn-primary, .btn-primary:active, .btn-primary:focus, .btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success{ background: #f6cd53; border-color:  #f6cd53; }
.booknow:hover
{
	text-decoration:none;
}

#gallery .img-responsive
{
	display: block;
    max-width: 100%;
    height: auto;
	max-height:200px;
}

.ms-options ul li{list-style: none;}




.booking.list {
    width: 100%;
}
.booking {   
margin:5px auto;
    position: relative; 
    border: solid #e1e1e1 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
}
.booking input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%; 
    cursor: pointer;
}
.booking.list input:checked~label {
    color: #fff;
    background:#FFC107;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.booking.list label {  
    border-radius: 0;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
    line-height: 40px;
    margin-top:0px;
}
.booking label {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 0px;
}
.booking-main {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}


.paynow {
    background: #438E29;
    border: 0;
    color: #fff;
    border-bottom: 2px solid #438E29;
    padding: 7px 20px;
    font-weight: initial;
    border-radius: 4px;
}

.book_content {
    padding: 0 20px;
}

.paddingleft10
{
	padding-left:10px;
}
.paddingleft20
{
	padding-left:30px;
}
.paddingtop20
{
	padding-top:20px;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

.book-profile {
    float: left;
    background-color: #FFC107;
    color: #ffffff;
    padding: 10px 20px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px;
    text-align: center;
	margin-bottom:5px;
}

.total-price {
    background: #333;
    color: #fff;
    display: inline;
    padding: 10px 20px;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 0px;
    font-weight: 500;
	 float: left;
	 clear:both;
}
.sv_shop_style a,.sv_shop_style a:hover
{
	color:#4e4d4d;
	text-decoration:none;
}


.err-msg
{
	color:red;
	font-size:17px;
}


.rating {
    background: rgba(255, 152, 0, 0.09);
    padding: 15px 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.services-btn {
    background: #438E29;
    color: #fff;
    width: initial;
    border-radius: 4px;
    padding: 0 20px;
    margin: 7px auto;
    border-bottom: 2px solid #438E29;
    font-weight: 500;
}




.serv .list-group-item-heading {
text-align:center;
}
.noservice
{
	margin-top:50px;
	margin-bottom:50px;
	color:red;
	font-size:16px;
}

.cform .col-lg-6
{
	margin-bottom:20px;
}

.social ul li,.nbs-flexisel-inner ul li,.nbs-flexisel-item
{
	display:inline;
	list-style:none;
	padding-left:5px;
	padding-right:5px;
}
.social ul
{
	margin-top:20px;
}

.star_rates
{
	height:17px;
}

.nbs-flexisel-item a,.nbs-flexisel-item a:hover
{
	font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
	color: #4e4d4d;
    max-height: 66px;
    overflow: hidden;
	text-decoration:none;
}

.blok
{
	color:#555;
}

.yellows
{
	color:#fa9300;
	font-size:19px;
}

img.sthumb
{
	width:80px;
	height:80px;
	border-radius:50px;
	display:inline-block;
	margin:0 auto;
	
	position:relative;
  
	
	
}
.imgthumb
{
	
	width:100%;
	position:relative;
	display:inline-grid;
	margin-top:-40px;
	
}


.sangvish_homepage .caret
{
	border-top-color:#FB8C00 !important;
	
}


.disabled {
    pointer-events:none; 
    opacity:0.6;
    background:#F4F4F4;	
}

.caret
{
	border-top-color:#FB8C00 !important;
}


.titlesection
{
	position: absolute !important;
    bottom: 0px !important;
    left: 1px !important;
    right: 5px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    /* background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important; */
}

.titlesection h3,.titlesection span,.titlesections h3,.titlesections span
{
	color:#fff;
}


.titlesections
{
	position: absolute !important;
    top: 88px;
    left: 1px !important;
    right: 5px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    /* background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important; */
}



@media only screen and
(min-device-width: 320px) and (max-device-width: 568px) and
 (-webkit-min-device-pixel-ratio: 2) {
	
	
	.titlesections
{
	position: absolute !important;
    top: 175px;
    left: 1px !important;
    right: 5px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    /* background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important; */
}

#overlays {
      position: absolute;
      top: 0;
      left: 0;
     
      width: 100%;
	  max-height:300px;
	  height:100%;
      
      background-color: rgba(0, 0, 0, 0.5);
     
    }

	
}



@media only screen 
 and (min-device-width: 375px) 
 and (max-device-width: 667px) 
 and (-webkit-min-device-pixel-ratio: 2) { 
	.titlesections
{
	position: absolute !important;
    top: 216px;
    left: 1px !important;
    right: 5px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    /* background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important; */
}

#overlays {
      position: absolute;
      top: 0;
      left: 0;
     
      width: 100%;
	  max-height:300px;
	  height:100%;
      
      background-color: rgba(0, 0, 0, 0.5);
     
    }


}



.btndisable
{
	pointer-events: none !important;
   cursor: default !important;
}
.disabletxt
{
	color:red !important;
}

.footres
{
	max-width:150px;
}