

.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
	padding : 0;
}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
	padding : 0;
}


h2{
	color : #3d86e9;
	font-size : 20px;
	 margin-bottom: 18px;
	
}
p{
	font-size : 15px;
	 line-height: 30px;
	color : #121212;
}

input{
	border : none;
}


.input:focus {
 display : none;
}

.col-md-12 {
  margin-bottom: 21px;
}

.top-sec.container-fluid {
  text-align: right;
}
.Acceptance-input {
  float: left;
  width: 100%;
}
.inpt-sec {
  float: left;
  width: auto;
}

.inpt-sec input {
  border-bottom: 1px solid #ccc;
  margin-right: 22px;
}

.table p {
  display: inline;
  margin-right: 20px;
}

.table td p span {
  background: rgba(0, 0, 0, 0) url("../img/lgt-circle.png") repeat scroll 0 0;
  display: inline-block;
  float: left;
  height: 25px;
  margin-right: 12px;
  width: 25px;
}



.table td p span.bg{
	 background: rgba(0, 0, 0, 0) url("../img/drk-circle.png") repeat scroll 0 0;
}
td p a {
  float: left;
  margin-right: 12px;
}

.logo-sec img {
  margin: 29px 0;
}
.onoffswitch-label label{
	margin : 0;
}

td {
  padding-bottom: 3px !important;
}

/************ switch *****************/


.table {
  border: 1px solid #ccc;
  margin-top: 40px;
}


 /******************/
 
 
  .switch {
      position: relative;
      display: block;
      vertical-align: top;
      width: 100px;
      height: 30px;
      padding: 3px;
      margin: 0 10px 10px 0;
      background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
      background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
      border-radius: 18px;
      box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }
    .switch-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .switch-label {
      position: relative;
      display: block;
      height: inherit;
      font-size: 10px;
      text-transform: uppercase;
      background: #f02e2e;
      border-radius: inherit;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    }
    .switch-label:before, .switch-label:after {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      line-height: 1;
      -webkit-transition: inherit;
      -moz-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
    }
    .switch-label:before {
      content: attr(data-off);
      right: 11px;
      color: #fff;
      text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }
    .switch-label:after {
      content: attr(data-on);
      left: 11px;
      color: #FFFFFF;
      text-shadow: 0 1px rgba(0, 0, 0, 0.2);
      opacity: 0;
    }
    .switch-input:checked ~ .switch-label {
         background: #2ba43c;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .switch-input:checked ~ .switch-label:before {
      opacity: 0;
    }
    .switch-input:checked ~ .switch-label:after {
      opacity: 1;
    }
    .switch-handle {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 28px;
      height: 28px;
      background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
      background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
      border-radius: 100%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .switch-handle:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      width: 12px;
      height: 12px;
      background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
      background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
      border-radius: 6px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    }
    .switch-input:checked ~ .switch-handle {
      left: 74px;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    /* Transition
        ========================== */
    .switch-label, .switch-handle {
      transition: All 0.3s ease;
      -webkit-transition: All 0.3s ease;
      -moz-transition: All 0.3s ease;
      -o-transition: All 0.3s ease;
    }
 
 
 
 
 /******************/
	
 .logo-cnt span input {
  clear: both;
  float: right;
  margin-bottom: 10px;
  margin-bottom: 10px;
  width: 300px;
} 

.logo-cnt span {
  clear: both;
  float: right;
  width: 100%;
}
.res-sec1{
  position: relative;
}
/* .res-sec1 span input{width:300px;} */
.res-sec input{
  clear: both;
  float: right;
  margin-bottom: 10px;
  width: 300px;
}

.Acceptance-sec .Acceptance-input .inpt-sec input{
  text-align: left;
}


	
	
	
thead {
  background: #dfedfa none repeat scroll 0 0;
  border: medium none !important;
}
body {
  padding-bottom: 70px;
  padding-left : 20px;
  padding-right : 20px;
}
.inpt-sec.data-pick > label {
  float: left;
  width: 47px;
}
.inpt-sec.data-pick {
  width: 100%;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  background: #dfedfa none repeat scroll 0 0;
  position: relative;
  text-align: center;
  width: auto;
  z-index: 1111;
}

.date {
  font-size: 20px;
}


.approval-res{
  width : 100%;
  padding: 0 32px;
  margin : 0 auto;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
th {
  text-align: left;
}


/************* end css *****************/


/*= input focus effects css
=========================== */
:focus{outline: none;}
.coll-3{display : inline; position: relative;} /* necessary to give position: relative to parent. */


input[type="text"] { box-sizing: border-box; color: #333; font: 15px/24px "Lato",Arial,sans-serif;letter-spacing: 1px;text-align: center;text-transform: capitalize;}
.effect-18{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.effect-18 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; z-index: 99;}
.effect-18 ~ .focus-border:before, 
.effect-18 ~ .focus-border:after{content: ""; position: absolute; bottom: -4px; left: 0; width: 0; height: 100%; background-color: #3399FF; transition: 0.4s;}
.effect-18 ~ .focus-border:after{left: auto; right: 0;}
.effect-18:focus ~ .focus-border:before, 
.effect-18:focus ~ .focus-border:after,
.has-content.effect-18 ~ .focus-border:before,
.has-content.effect-18 ~ .focus-border:after{width: 50%; transition: 0.4s;}
.effect-18 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-18:focus ~ label, .has-content.effect-18 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}



@media(max-width : 767px){
	
	p{
		font-size:12px;
	}
	h1,h2,h3,h4,h5{
		font-size : 15px;
	}
	.date {
  font-size: 15px;
}
	
}